@import url("https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inder:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inder:wght@400&display=swap");

body {
  margin: 0;
  line-height: normal;
  /* Set a base font size, 16px is usually the browser default */
  font-size: 16px;
}

:root {
  /* fonts */
  --font-inder: 'Inder', sans-serif;
  --font-jua: 'Jua', sans-serif;
  --font-inter: Inter;

  /* font sizes */
  --font-size-21xl: 2.5rem;  /* 40/16 = 2.5rem (if base size is 16px) */
  --font-size-77xl: 6rem;
  --font-size-21xl: 2.5rem;
  --font-size-6xl: 1.56rem;
  --font-size-29xl: 48px;
  --font-size-17xl: 2.25rem;
  --font-size-xl: 1.25rem;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-palegoldenrod: #feeaa5;
  --color-plum: #a478b8;
  --color-peachpuff: #f1c5ae;

  /* border radiuses */
  --br-21xl: 2.5rem;  /* 40/16 = 2.5rem (if base size is 16px) */
  --br-11xl: 1.875rem;  /* 30/16 = 1.875rem (if base size is 16px) */
  --br-xl: 20px;
  --br-11xl: 30px;
}

.navigationBar {
  position: fixed;
  bottom: 2%;
  left: 4%;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 28.2vw;
  height: 10.5vw;
}

.viscatIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.viscatLogo {
  margin: 0;
  position: absolute;
  width: 97.7%;
  top: 8.15%;
  left: 5.1%;
  font-size: 8vw;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 2px #fff;
}
.iconViscat {
  position: absolute;
  height: 11vw;
  width: 32.83%;
  top: 5.04%;
  right: 64.66%;
  bottom: 78.78%;
  left: 2.51%;
  color: var(--color-plum);
}

.buttonYellow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-11xl);
  background-color: var(--color-palegoldenrod);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.settingsIcon {
  position: absolute;
  height: 79.17%;
  width: 75%;
  top: 8.33%;
  right: 12.5%;
  bottom: 12.5%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.iconSettings {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 8.2vw;
  height: 8.2vw;
}

.userIcon {
  position: absolute;
  height: 97.5%;
  width: 75%;
  top: 2.5%;
  right: 12.5%;
  bottom: 0%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.iconUser {
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 8.2vw;
  height: 8.2vw;
}


.iconSettings:hover .settingsIcon {
  transform: scale(1.1);
  transition: 0.3s;
}
.iconUser:hover .userIcon {
  transform: scale(1.1);
  transition: 0.3s;
}


